---
import LayoutPrado from "../layouts/LayoutPrado.astro";
import productos from "../data/productos.json";
---

<LayoutPrado>
  <h2>Obras Destacadas</h2>

  <div class="grid-productos">
    {productos.slice(0, 6).map((p) => (
      <a href={`/productos/${p.slug}`} class="card">
        <img src={p.imagen} alt={p.título} />
        <h3>{p.título}</h3>
        <p>{p.texto_precio}</p>
      </a>
    ))}
  </div>
</LayoutPrado>
