---
const { producto } = Astro.props;
---

<a href={`/productos/${producto.slug}`} style="text-decoration: none; color: inherit;">
  <div style="border: 1px solid #ccc; padding: 1rem; border-radius: 10px;">
    <img 
      src={producto.imagen} 
      alt={producto.título} 
      style="width: 100%; border-radius: 10px;" 
    />
    <h3>{producto.título}</h3>
    <p>{producto.texto_precio}</p>
  </div>
</a>
