---
const { children } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Galería del Prado</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>

  <body>
    <header>
      <h1>Galería del Prado</h1>

      <nav class="menu">
        <a href="/">Inicio</a>
        <a href="/galeria">Galería</a>
        <a href="/productos/destacados">Destacados</a>
        <a href="/carrito">Carrito <span id="contador-carrito"></span></a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <script>
      function actualizarContador() {
        const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
        const span = document.getElementById("contador-carrito");
        if (span) {
          span.innerText = `(${carrito.length})`;
        }
      }

      actualizarContador();
      window.actualizarContador = actualizarContador;
    </script>
  </body>
</html>
